*
  margin 0
  padding 0
  outline 0
  box-sizing border-box


body
  // color white

a
  // color white
  text-decoration none
  cursor pointer

input[type='text']
input[type='button']
  padding 8px
  border 0

input[type='button']
  padding 8px 16px

.ui-img-avatar-sm
  width 40px
  height @width

.ui-img-avatar
  width 60px
  height @width

.ui-img-circle
  border-radius 50%

#ui-wechat
  color white
  & a
    color white

.ui-hack-border-offset
  // border-bottom 1px solid red
